<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="../static/styles/base.css" rel="stylesheet" />
    <link href="../static/styles/article.css" rel="stylesheet" />
    <script
      defer
      src="../static/scripts/article.js"
      type="text/javascript"
    ></script>
    <title>Article 1</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="../index">Home </a>
        </li>
        <li>
          <a href="../all-articles">Blog</a>
        </li>
      </ul>
    </nav>
    <main>
      <article>
        <header id="top">{{ TITLE }}</header>
        {{ BODY }}
        <footer>
          <button class="img" id="download-highlights">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3"
              />
            </svg>
          </button>
          <nav>
            <a class="secondary" id="previous-article">Previous</a>
            <a class="secondary" href="#top">Top</a>
            <a class="primary" id="next-article">Next</a>
          </nav>
        </footer>
      </article>
    </main>
  </body>
</html>
