<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-16" />
    <link href="./static/styles/base.css" rel="stylesheet" />
    <link href="./static/styles/index.css" rel="stylesheet" />
  </head>
  <body>
    <aside>
      <figure>
        <img
          class="profile"
          src="./static/images/arman.png"
          alt="a photo of me"
        />
        <figcaption>
          <ul>
            <li>
              <a href="https://github.com" target="_blank">
                <img
                  class="logo"
                  src="./static/images/github.png"
                  alt="My Github"
                />
              </a>
            </li>
            <li>
              <a href="https://twitter.com" target="_blank">
                <img
                  class="logo"
                  src="./static/images/twitter.png"
                  alt="My Twitter"
                />
              </a>
            </li>
            <li>
              <a href="https://linkedin.com" target="_blank">
                <img
                  class="logo"
                  src="./static/images/linked-in.png"
                  alt="My LinkedIn"
                />
              </a>
            </li>
          </ul>
          <h1>Arman Elahi</h1>
          <p>Senior Software Engineer at Twitch</p>
          <p>Loves soccer, video games, and hikes</p>
        </figcaption>
      </figure>
    </aside>
    <article>
      <header>
        <h1></h1>
        <ul class="tags"></ul>
      </header>
      <nav>
        <ul>
          <li>
            <a class="secondary" href="./all-articles.html">View All </a>
          </li>
          <li>
            <a class="primary" href="./articles/microservice-misstep.html">Continue Reading </a>
          </li>
        </ul>
      </nav>
    </article>
  </body>
</html>
